@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-darkBlue: hsl(234, 12%, 34%);
    --neutral-grayishBlue: hsl(229, 6%, 66%);
    --neutral-lightGray: hsl(0, 0%, 98%);
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--neutral-lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}
    .header {
        display: grid;
        text-align: center;
        place-items: center;
        margin-block-end: 2rem;
    }
        h1 {
            color: var(--neutral-darkBlue);
        }

        .header div {
            font-size: 2rem;
            color: var(--neutral-grayishBlue);
        }
        .header p {
            margin-block-start: 0;
            width: 50%;
            color: var(--neutral-grayishBlue);
            font-weight: 200;
        }

    .cards {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .card {
            position: relative;
            width: calc(28% - 2rem);
            aspect-ratio: 1 / 0.75;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0.5rem 0.5rem 1.5rem var(--neutral-darkBlue);
            margin-block-end: 2rem;
            border-style: solid;
            border-width: 0;
            border-block-start-width: 0.2rem;
        }
            .card:first-child, .card:last-child {
                position: absolute;
                margin: 0;
            }
            .card:first-child {
                border-block-start-color: var(--primary-cyan);
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
            .card:last-child {
                border-block-start-color: var(--primary-blue);
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
            }

            #teamBuilder {
                border-block-start-color: var(--primary-red);
            }
            #karma {
                border-block-start-color: var(--primary-orange);
            }

            h2 {
                margin-block-start: 0;
                color: var(--neutral-darkBlue);
                margin-block-end: 0.5rem;
            }

            .card p {
                color: var(--neutral-grayishBlue);
                margin: 0;
            }


            .card img {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
            }

footer {
    position: fixed;
    bottom: 1vh;
}

@media screen and (min-aspect-ratio: 1 / 1) and (max-width: 1024px){
    .card img {
        max-width: 2rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-aspect-ratio: 1 / 1) {
    body {
        flex-direction: column;
    }

        .header h1, .header div {
            font-size: 1.5rem;
        }

        .header h1 {
            margin-block-start: 0.5rem;
        }

        .header p {
            width: 100%;
        }

        .card {
            width: 80%;
        }
        .card:first-child, .card:last-child {
            position: relative;
            transform: none;
            margin-block-end: 2rem;
        }
    
    footer {
        position: static;
    }

    @media screen and (max-width: 280px) {
        .card img {
            max-width: 2rem;
        }
    }
}
